<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <components>
    <component id="Validator"
           service="UConnector.Validatation.OperationValidater, UConnector.Framework"
           type="UConnector.Validatation.OperationValidater, UConnector.Framework"
           lifestyle="Singleton">
      <parameters>
        <validators>
          <array>
            <value>${Validator.SpecialRules}</value>
            <value>${Validator.BatchValidator}</value>
            <value>${Validator.InputOutputValidator}</value>
            <value>${Validator.ConfigurableValidator}</value>
          </array>
        </validators>
      </parameters>
    </component>
    <component id="Validator.SpecialRules"
           service="UConnector.Validatation.Validators.IValidator, UConnector.Framework"
           type="UConnector.Validatation.Validators.SpecialRules, UConnector.Framework"
           lifestyle="Thread" />
    <component id="Validator.BatchValidator"
           service="UConnector.Validatation.Validators.IValidator, UConnector.Framework"
           type="UConnector.Validatation.Validators.BatchValidator, UConnector.Framework"
           lifestyle="Thread" />
    <component id="Validator.InputOutputValidator"
           service="UConnector.Validatation.Validators.IValidator, UConnector.Framework"
           type="UConnector.Validatation.Validators.InputOutputValidator, UConnector.Framework"
           lifestyle="Thread" />
    <component id="Validator.ConfigurableValidator"
           service="UConnector.Validatation.Validators.IValidator, UConnector.Framework"
           type="UConnector.Validatation.Validators.ConfigurableValidator, UConnector.Framework"
           lifestyle="Thread" />
		<component id="uConnector.OperationEngineFactory"
			 service="UConnector.IOperationEngineFactory, UConnector.Framework"
			 type="UConnector.OperationEngineFactory, UConnector.Framework"
			 lifestyle="Transient" />
		<component id="uConnector.OperationEngine"
           service="UConnector.IOperationEngine, UConnector.Framework"
           type="UConnector.OperationEngine, UConnector.Framework"
           lifestyle="Transient">
			<parameters>
				<ExceptionNotifier>${uConnector.ExceptionNotifier}</ExceptionNotifier>
			</parameters>
		</component>
		<!-- <component id="Persistor.ReceiverDataPersister"
           service="UConnector.Framework.IReceiverDataPersistor, UConnector.Framework"
           type="UConnector.Framework.Impl.DoNotPersist, UConnector.Framework"
           lifestyle="Transient" /> -->
		<component id="Persistor.ReceiverDataPersister"
           service="UConnector.Framework.IReceiverDataPersistor, UConnector.Framework"
           type="UConnector.Framework.Impl.DefaultReceiverDataPersistor, UConnector.Framework"
           lifestyle="Transient">
			<parameters>
				<persistorLocators>
					<list>
						<item>${Persistor.DefaultPersistorLocator}</item>
					</list>
				</persistorLocators>
				<path>C:/uConnector/PersistedData</path>
			</parameters>
		</component>
		<component id="Persister.DirectoryStructureStrategy"
           service="UConnector.Framework.IPersistorDirectoryStructureStrategy, UConnector.Framework"
           type="UConnector.Framework.Impl.PersistorDirectoryStructureStrategyBasedOnCurrentTime, UConnector.Framework"
           lifestyle="Transient" />
		<component id="Persistor.DefaultPersistorLocator"
           service="UConnector.Framework.ITypePersistorLocator, UConnector.Framework"
           type="UConnector.Framework.Impl.DefaultTypePersistorLocator, UConnector.Framework"
           lifestyle="Transient" />
		<component id="uConnector.ExceptionNotifier"
           service="UConnector.Framework.IExceptionNotifier, UConnector.Framework"
           type="UConnector.Framework.Impl.NoNotificationOnException, UConnector.Framework"
           lifestyle="Transient" />
		<component id="uConnector.Framework.SendRetryQueueFactory"
							 service="UConnector.Framework.ISendRetryQueueFactory, UConnector.Framework"
							 type="UConnector.Framework.SendRetryQueueFactory, UConnector.Framework"
							 lifestyle="Transient" />
		<component id="uConnector.Framework.SendRetryQueue"
							 service="UConnector.Framework.ISendRetryQueue, UConnector.Framework"
							 type="UConnector.Framework.Impl.SendRetryQueueInMemory, UConnector.Framework"
							 lifestyle="Transient" />
  </components>
</castle>