<!--
	NHibernate mappings are wired via the IContainsNhibernateMappingsTag interface
	to get the data API up and running we need the components.config file somewhere
	along with the executable running the data APIs (uCommerce auto dicovers the file).
-->
<configuration>
  <components>
    <component id="UCommerce.DataMappingsTag"
      service="UCommerce.EntitiesV2.IContainsNHibernateMappingsTag, UCommerce"
      type="UCommerce.EntitiesV2.MappingAssemblyTag, UCommerce"/>
  </components>
</configuration>