<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <components>
    <component id="Validator"
           service="UConnector.Validatation.OperationValidater, UConnector.Framework"
           type="UConnector.Validatation.OperationValidater, UConnector.Framework"
           lifestyle="Singleton">
      <parameters>
        <validators>
          <array>
            <value>${Validator.SpecialRules}</value>
            <value>${Validator.BatchValidator}</value>
            <value>${Validator.InputOutputValidator}</value>
            <value>${Validator.ConfigurableValidator}</value>
          </array>
        </validators>
      </parameters>
    </component>
    <component id="Validator.SpecialRules"
           service="UConnector.Validatation.Validators.IValidator, UConnector.Framework"
           type="UConnector.Validatation.Validators.SpecialRules, UConnector.Framework"
           lifestyle="Thread" />
    <component id="Validator.BatchValidator"
           service="UConnector.Validatation.Validators.IValidator, UConnector.Framework"
           type="UConnector.Validatation.Validators.BatchValidator, UConnector.Framework"
           lifestyle="Thread" />
    <component id="Validator.InputOutputValidator"
           service="UConnector.Validatation.Validators.IValidator, UConnector.Framework"
           type="UConnector.Validatation.Validators.InputOutputValidator, UConnector.Framework"
           lifestyle="Thread" />
    <component id="Validator.ConfigurableValidator"
           service="UConnector.Validatation.Validators.IValidator, UConnector.Framework"
           type="UConnector.Validatation.Validators.ConfigurableValidator, UConnector.Framework"
           lifestyle="Thread" />
  </components>
</castle>