<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="uConnector" type="UConnector.Config.Configuration.UConnectorSection, UConnector.Framework" />
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <sectionGroup name="commerce">
      <section name="runtimeConfiguration"
               type="UCommerce.Infrastructure.Configuration.RuntimeConfigurationSection, UCommerce.Infrastructure" />
    </sectionGroup>
  </configSections>
  <uConnector>
    <taskPaths>
      <add path="Tasks" />
    </taskPaths>
  </uConnector>
  <commerce>
    <runtimeConfiguration componentsConfigurationFile="Components.config" enableCache="false"
                          cacheProvider="NHibernate.Caches.SysCache2.SysCacheProvider, NHibernate.Caches.SysCache2" />
  </commerce>
  <castle configSource="Castle.config">
  </castle>
  <connectionStrings>
    <add name="ss-16" connectionString="server=172.17.4.72;database=ucommerce;user id=umbracouser;password=supermand!" />
    <add name="msywks01" connectionString="server=(local)\sqlexpress;database=umbraco;user id=umbracouser;password=3edc4rfV" />
    
    <add name="UCommerce" connectionString="server=(local)\sqlexpress;database=umbraco;user id=umbracouser;password=3edc4rfV" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="Directory" value="C:\Projects\uConnector Samples\src\uConnector.Samples\bin\Debug\Tasks" />
  </appSettings>
</configuration>
