<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="uConnector" type="UConnector.Config.Configuration.UConnectorSection, UConnector.Framework" />
		<section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging"
					publicKeyToken="af08829b84f0328e"
					culture="neutral" />
				<bindingRedirect oldVersion="2.0.0.0" newVersion="2.1.2.0" />
			</dependentAssembly>
			<probing privatePath="bin;Tasks/bin"/>
		</assemblyBinding>
	</runtime>
	<uConnector addMissingOperationOptions="false">
		<taskPaths>
			<add path="Tasks" />
		</taskPaths>
		<assemblyPaths>
			<add path="Tasks/bin" />
		</assemblyPaths>
	</uConnector>
	<castle configSource="Configuration\UConnector.config"/>
	<common>
		<logging configSource="Configuration\common.config"/>
	</common>
	<log4net configSource="Configuration\log4net.config"/>
	<quartz configSource="Configuration\quartz.config"/>
</configuration>