<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net452" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net452" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net452" />
  <package id="CsvHelper" version="1.1.0" targetFramework="net452" />
  <package id="EPPlus" version="2.9.0.1" targetFramework="net452" />
  <package id="ftplib" version="1.0.1.2" targetFramework="net452" />
  <package id="Iesi.Collections" version="1.0.1" targetFramework="net452" />
  <package id="log4net" version="1.2.10" targetFramework="net452" />
  <package id="Quartz" version="2.2.4" targetFramework="net452" />
  <package id="UConnector" version="1.1.1.13235" targetFramework="net452" />
</packages>