<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.0.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="4.0.0" targetFramework="net45" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net45" />
  <package id="CsvHelper" version="1.1.0" targetFramework="net40" />
  <package id="EPPlus" version="2.9.0.1" targetFramework="net40" />
  <package id="ftplib" version="1.0.1.2" targetFramework="net40" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net45" />
  <package id="NHibernate" version="4.0.0.4000" targetFramework="net45" />
  <package id="uCommerce.Core" version="7.14.0.18060" targetFramework="net45" />
  <package id="uConnector" version="2.0.0.16118" targetFramework="net45" />
</packages>