<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="uConnector" type="UConnector.Config.Configuration.UConnectorSection, UConnector" />
    <sectionGroup name="commerce">
      <section name="runtimeConfiguration"
               type="UCommerce.Infrastructure.Configuration.RuntimeConfigurationSection, UCommerce.Infrastructure" />
    </sectionGroup>
    <section name="quartz"
         type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="UCommerce"
         connectionString="server=172.17.4.72;database=ucommerce;user id=umbracouser;password=supermand!" />
    <add name="UCommerce2"
         connectionString="server=(local)\sqlexpress;database=umbraco;user id=umbracouser;password=3edc4rfV" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <commerce>
    <runtimeConfiguration componentsConfigurationFile="Components.config" enableCache="false"
                          cacheProvider="NHibernate.Caches.SysCache2.SysCacheProvider, NHibernate.Caches.SysCache2" />
    <!--<catalogConfiguration defaultCultureCode="en-US" enforceCategoryNameUniquenessWithinCatalogs="true" />
    <ordersConfiguration>
      <shippingMethodServices>
        <add name="SinglePriceService" type="UCommerce.Transactions.Shipping.SinglePriceShippingMethodService, UCommerce" />
      </shippingMethodServices>
      <paymentMethodServices>
        <add name="(default)" type="UCommerce.Transactions.Payments.DefaultPaymentMethodService, UCommerce" />
        <add name="DIBS" type="UCommerce.Transactions.Payments.Dibs.DibsPaymentMethodService, UCommerce.Transactions.Payments" />
        <add name="PayPal" type="UCommerce.Transactions.Payments.PayPal.PayPalPaymentMethodService, UCommerce.Transactions.Payments" />
        <add name="PayPalRecurring" type="UCommerce.Transactions.Payments.PayPal.PayPalRecurringPaymentMethodService, UCommerce.Transactions.Payments" />
        <add name="EPay" type="UCommerce.Transactions.Payments.EPay.EPayPaymentMethodService, UCommerce.Transactions.Payments" />
        <add name="PayEx" type="UCommerce.Transactions.Payments.PayEx.PayExPaymentMethodService, UCommerce.Transactions.Payments" />
        <add name="Payer" type="UCommerce.Transactions.Payments.Payer.PayerPaymentMethodService, UCommerce.Transactions.Payments" />
        <add name="WorldPay" type="UCommerce.Transactions.Payments.WorldPay.WorldPayPaymentMethodService, UCommerce.Transactions.Payments" />
        <add name="SagePay" type="UCommerce.Transactions.Payments.SagePay.SagePayPaymentMethodService, UCommerce.Transactions.Payments" />
      </paymentMethodServices>
    </ordersConfiguration>
    <dibsPaymentMethodService configSource=".\umbraco\ucommerce\configuration\Dibs.config" />
    <payPalPaymentMethodService configSource=".\umbraco\ucommerce\configuration\PayPal.config" />
    <ePayPaymentMethodService configSource=".\umbraco\ucommerce\configuration\ePay.config" />
    <payExPaymentMethodService configSource=".\umbraco\ucommerce\configuration\PayEx.config" />
    <payerPaymentMethodService configSource=".\umbraco\ucommerce\configuration\Payer.config" />
    <worldPayPaymentMethodService configSource=".\umbraco\ucommerce\configuration\WorldPay.config" />
    <sagePayPaymentMethodService configSource=".\umbraco\ucommerce\configuration\SagePay.config" />-->
  </commerce>
  <uConnector>
    <taskPaths>
      <add path="Tasks" />
      <add path="D:\Hg\uConnector\src\uConnector.Worker\bin\Debug\Tasks" />
    </taskPaths>
    <assemblyPaths>
      <add path="D:\Hg\uConnector\src\uConnector.Samples\bin\Debug" />
    </assemblyPaths>
  </uConnector>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="level" value="INFO" />
        <arg key="dateTimeFormat" value="HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="uConnector.Scheduler" />

    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="2" />
    <add key="quartz.threadPool.threadPriority" value="2" />

    <add key="quartz.jobStore.misfireThreshold" value="60000" />
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz" />
  </quartz>
  <!--<appSettings>
    <add key="AddPath" value="D:\Hg\uConnector\src\UCommerce.Connector.Samples\bin\Debug" />
    <add key="OperationsDirectory" value="Tasks" />
  </appSettings>-->
</configuration>