<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="operation" type="UConnector.Config.Configuration.OperationSection, UConnector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <operation name="CleanFtpOperation" enabled="False" type="UConnector.Samples.Operations.UCommerce.CleanFtp.CleanFtpOperation, UConnector.Samples">
        <confs>
            <conf name="FtpFilesAdapter">
                <options>
                    <option name="Port" value="21" />
                    <option name="Hostname" value="ftp.syska.dk" />
                    <option name="Username" value="ftp.syska.dk|uconnector" />
                    <option name="Password" value="uconnector" />
                    <option name="Directory" value="/export" />
                    <option name="Pattern" value="*.xlsx" />
                    <option name="Take" value="1" />
                    <option name="DeleteFile" value="True" />
                    <option name="Take" isUsed="false" />
                    <option name="Skip" value="10" />
                </options>
            </conf>
        </confs>
      <cronSchedules>
        <cronSchedule name="cron schedule every 5 second" cron="*/5 * * * * ?" />
      </cronSchedules>
    </operation>
    <system.web>
        <trust level="Full" />
        <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
    </system.web>
</configuration>