<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="operation" type="UConnector.Config.Configuration.OperationSection, UConnector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <operation name="CopyFilesFromFtpToLocalDirectoryOperation" enabled="False"
        type="UConnector.Samples.Operations.UCommerce.CopyFilesFromFtpToLocalDirectory.CopyFilesFromFtpToLocalDirectoryOperation, UConnector.Samples">
        <confs>
            <conf name="FtpIn">
                <options>
                    <option name="Port" value="21" />
                    <option name="Hostname" value="ftp.syska.dk" />
                    <option name="Username" value="ftp.syska.dk|uconnector" />
                    <option name="Password" value="uconnector" />
                    <option name="Directory" value="/export" />
                    <option name="Pattern" isUsed="false" />
                    <option name="Take" value="1" />
                    <option name="DeleteFile" value="True" />
                </options>
            </conf>
            <conf name="CopyFileToDirectory">
                <options>
                    <option name="Overwrite" value="true" />
                    <option name="Directory" value="C:\Connector\FromFtp" />
                </options>
            </conf>
        </confs>
      <cronSchedules>
        <cronSchedule name="run every 3 second" cron="*/3 * 8-16 ? * MON-FRI" />
      </cronSchedules>
    </operation>
    <system.web>
        <trust level="Full" />
        <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
    </system.web>
</configuration>