<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="operation" type="UConnector.Config.Configuration.OperationSection, UConnector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	</configSections>
	<operation name="OperationCreateTestFiles" enabled="false" type="UConnector.Samples.Operations.Sandbox.Operations.OperationCreateTestFiles, UConnector.Samples">
		<confs>
			<conf name="WriteTestFile">
				<options>
					<option name="Filename" value="C:\uConnector\In\Test.txt" />
				</options>
			</conf>
		</confs>
		<cronSchedules>
			<!-- Sec, min, hour, day, month, day-of-week(MON-FRI) -->
			<cronSchedule name="every 30 second" cron="*/30 * * * * ?"/>
		</cronSchedules>
	</operation>
</configuration>