<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="operation" type="UConnector.Config.Configuration.OperationSection, UConnector" />
  </configSections>
    <operation enabled="False" type="UConnector.Samples.Operations.Others.DateTimeManipulation.DateTimeManipulationOperation, UConnector.Samples" name="DateTime sample operation">
      <schedules>
        <!--<schedule type="some type that implements a specific interface and comply with that interface or some premade" />-->
        <!--<schedule name="run monday at 12:00" />-->
        <!--<schedule name="some unique name" weekdays="workdays" starts="12:24" interval="Minute" count="2" />-->
        <!-- Also look at how Quartz.NET is doing it -->
      </schedules>
      <cronSchedules>
        <!-- Sec, Min, Hour, Day, Month, Day-Of-Week -->
        <!-- ? is a default place holder, since Day and Day-Of-Week can't be used at the same time -->
        <!-- * = Every, so */10 is every 10th [Sec/Min/Hour/Day/Month]-->
        <cronSchedule name="Every 4th second" cron="*/4 * * ? * *" /><!-- This runs every 3 second from 8 to 16, Monday to Friday -->
        <!--<cronSchedule cron="0 */2 8-16 */2 * ?" />--><!-- This runs every 2 minute from 8 to 16, every second day -->
      </cronSchedules>
      <confs>
        <conf name="AddHoursToDateTimeCog">
          <options>
            <option name="Hours" value="10"/>
          </options>
        </conf>
        <conf name="PrintDateTimeToConsoleWithFormatCog">
          <options>
            <option name="Format" value="dd-MM-yyyy HH:mm:ss" />
          </options>
        </conf>
      </confs>
    </operation>
</configuration>