<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="operation" type="UConnector.Config.Configuration.OperationSection, UConnector.Framework" />
	</configSections>
	<operation name="DelayedBlastOperation" enabled="true" type="UConnector.Samples.Operations.DelayedBlastOperation, UConnector.Samples">
		<cronSchedules>
			<!-- Sec, min, hour, day, month, day-of-week(MON-FRI) -->
			<cronSchedule name="every 5 minutes" cron="0 1/5 * * * ?"/>
		</cronSchedules>
	</operation>
</configuration>