<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="operation" type="UConnector.Config.Configuration.OperationSection, UConnector" />
  </configSections>
    <operation enabled="False" name="Delete Files Operation" type="UConnector.Samples.Operations.Others.DeleteFiles.DeleteFilesOperation, UConnector.Samples">
        <confs>
            <conf name="FileIn">
                <options>
                    <option name="Filter" value="*.rar" />
                    <option name="Directory" isUsed="false" />
                </options>
            </conf>
            <conf name="FileOutDelete">
                <options>
                    
                </options>
            </conf>
        </confs>
        <cronSchedules>
            <cronSchedule name="Some unique name" cron="*/20 * * ? * MON-FRI" />
        </cronSchedules>
    </operation>
</configuration>