<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="operation" type="UConnector.Config.Configuration.OperationSection, UConnector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <operation name="ExportProductListToFtpOperation" enabled="False"
        type="UConnector.Samples.Operations.UCommerce.ExportProductListToFtp.ExportProductListToFtpOperation, UConnector.Samples">
        <confs>
            <conf name="FtpFilesAdapter">
                <options>
                    <option name="Port" isUsed="false"  />
                    <option name="Hostname" value="ftp.syska.dk" />
                    <option name="Username" value="ftp.syska.dk|uconnector" />
                    <option name="Password" value="uconnector" />
                    <option name="Directory" value="/export" />
                    <option name="Pattern" isUsed="false" />
                    <option name="Take" isUsed="false" />
                    <option name="DeleteFile" value="True"/>
                </options>
            </conf>
        </confs>
      <cronSchedules>
        <!-- Sec, Min, Hour, Day, Month, Day-Of-Week -->
        <!-- ? is a default place holder, since Day and Day-Of-Week can't be used at the same time -->
        <!-- * = Every, so */10 is every 10th [Sec/Min/Hour/Day/Month]-->
        <cronSchedule name="run every 3 second" cron="*/10 * * ? * MON-FRI" />
        
        <!-- This runs every 3 second from 8 to 16, Monday to Friday -->
        <!--<cronSchedule name="cron schedule" cron="*/5 * 8-16 * * ?" />-->
        <!-- This runs every 2 minute from 8 to 16, every second day -->
      </cronSchedules>
    </operation>
    <system.web>
        <trust level="Full" />
        <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
    </system.web>
</configuration>