<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="operation" type="UConnector.Config.Configuration.OperationSection, UConnector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	</configSections>
	<operation name="ExportProductsToLocalExcelFile" enabled="true" type="UConnector.Samples.Operations.UCommerce.ExportLocalFile.ExportProductsToLocalExcelFile, UConnector.Samples">
		<confs>
			<conf name="FilesToLocalDirectory">
				<options>
					<option name="Directory" value="C:\uConnector\ExportFiles\" />
					<option name="Overwrite" value="true" />
				</options>
			</conf>
		</confs>
		<cronSchedules>
			<!-- Sec, min, hour, day, month, day-of-week(MON-FRI) -->
			<cronSchedule name="every 30 minutes" cron="0 15/30 * * * ?"/>
		</cronSchedules>
	</operation>
</configuration>