<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
			<section name="operation" type="UConnector.Config.Configuration.OperationSection, UConnector.Framework" />
		</configSections>
    <operation name="ImportLocalExcelFileOperation" enabled="false" type="UConnector.Samples.Operations.UCommerce.ImportLocalFile.ImportLocalExcelFile, UConnector.Samples">
      <confs>
        <conf name="FilesFromLocalDirectory">
          <options>
            <option name="Pattern" value="*.xlsx" />
            <option name="Directory" value="C:\uConnector\ImportFiles\" />
            <option name="SearchOption" isUsed="false" />
            <option name="DeleteFile" value="true" />
          </options>
        </conf>
      </confs>
      <cronSchedules>
        <!-- Sec, min, hour, day, month, day-of-week(MON-FRI) -->
        <cronSchedule name="every 5 second" cron="*/5 * * * * ?"/>
      </cronSchedules>
    </operation>
</configuration>