<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="operation" type="UConnector.Config.Configuration.OperationSection, UConnector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <operation name="ImportLocalFileOperation" enabled="false" type="UConnector.Samples.Operations.UCommerce.ImportLocalFile.ImportLocalFileOperation, UConnector.Samples">
        <confs>
            <conf name="LocalFilesReceiver">
                <options>
                    <option name="Pattern" isUsed="false" />
                    <option name="Directory" isUsed="false" />
                    <option name="SearchOption" isUsed="false" />
                </options>
            </conf>
        </confs>
    </operation>
    <system.web>
        <trust level="Full" />
        <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
    </system.web>
</configuration>