<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="operation" type="UConnector.Config.Configuration.OperationSection, UConnector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <operation name="ImportLocalFileOperation" enabled="False" type="UConnector.Samples.Operations.UCommerce.ImportLocalFile.ImportLocalFileOperation, UConnector.Samples">
      <confs>
        <conf name="LocalFilesReceiver">
          <options>
            <option name="Pattern" value="*.csv|*.xlsx" />
            <option name="Directory" value="C:\uConnector\FromFtp\" />
            <option name="SearchOption" isUsed="false" />
            <option name="DeleteFile" value="true" />
            <option name="Take" value="1" />
            <option name="Skip" isUsed="false" />
          </options>
        </conf>
      </confs>
      <cronSchedules>
        <!-- Sec, min, hour, day, month, day-of-week(MON-FRI) -->
        <cronSchedule name="every 5 second" cron="*/5 * * * * ?"/>
      </cronSchedules>
    </operation>
</configuration>