<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="operation" type="UConnector.Config.Configuration.OperationSection, UConnector.Framework" />
	</configSections>
	<operation name="ImportLocalCsvFileOperation" enabled="false" type="UConnector.Samples.Operations.UCommerce.ImportLocalFile.ImportLocalCsvFileOperation, UConnector.Samples">
		<confs>
			<conf name="FilesFromLocalDirectory">
				<options>
					<option name="Pattern" value="*.csv" />
					<option name="Directory" value="C:\uConnector\ImportFiles\" />
					<option name="SearchOption" isUsed="false" />
					<option name="DeleteFile" value="true" />
				</options>
			</conf>
		</confs>
		<cronSchedules>
			<!-- Sec, min, hour, day, month, day-of-week(MON-FRI) -->
			<cronSchedule name="every 5 second" cron="2/5 * * * * ?"/>
		</cronSchedules>
	</operation>
</configuration>