<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="operation" type="UConnector.Config.Configuration.OperationSection, UConnector" />
  </configSections>
  <connectionStrings>
    <add connectionString="daskdkaslæ" name="supdasdasjk" />
  </connectionStrings>
    <operation enabled="False" type="UConnector.Samples.Operations.Others.MoveFile.MoveFileOperation, UConnector.Samples"
               name="Move File Operation">
      <schedules>
        <!--<schedule type="some type that implements a specific interface and comply with that interface or some premade" />-->
        <!--<schedule name="run monday at 12:00" />-->
        <!--<schedule name="normal schedule" weekdays="workdays" starts="17:00" ends="21:00" interval="Hour" every="1" />-->
        <schedule name="normal schedule" weekdays="workdays" interval="Second" every="5" />
      </schedules>
      <cronSchedules>
        <!-- Sec, Min, Hour, Day, Month, Day-Of-Week -->
        <!-- ? is a default place holder, since Day and Day-Of-Week can't be used at the same time -->
        <!-- * = Every, so */10 is every 10th [Sec/Min/Hour/Day/Month]-->
        <!--<cronSchedule cron="*/3 * 8-16 ? * MON-FRI" />--><!-- This runs every 3 second from 8 to 16, Monday to Friday -->
        <!--<cronSchedule name="cron schedule" cron="*/5 * 8-16 * * ?" />--><!-- This runs every 2 minute from 8 to 16, every second day -->
      </cronSchedules>
      <confs>
        <!-- Global configs -->
        <conf name="FileIn">
          <options>
            <option name="directory" value="C:\Connector\In" isUsed="false" />
          </options>
        </conf>
        <conf name="FileOut">
          <options>
            <option name="Directory" value="C:\Connector\Out" />
          </options>
        </conf>
      </confs>
    </operation>
    <!--<operation type="System.String" name="My super awesome operation1">
      </operation>-->
</configuration>