<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="operation" type="UConnector.Config.Configuration.OperationSection, UConnector.Framework" />
	</configSections>
	<operation name="MyOperation" enabled="false" type="UConnector.Samples.Operations.MyOperation, UConnector.Samples">
		<confs>
			<conf name="FilesFromLocalDirectory">
				<options>
					<option name="Directory" value="C:\uConnector\In\" />
					<option name="SearchOption" isUsed="false" />
					<option name="DeleteFile" value="true" />
					<option name="Take" value="10" />
					<option name="Skip" isUsed="false" />
				</options>
			</conf>
			<conf name ="StringsToFileInLocalDirectory">
				<options>
					<option name="Filename" value="AuthorNames.{DateTime.Now.Ticks}.txt" />
					<option name="Directory" value="C:\uConnector\Out\" />
				</options>
			</conf>
		</confs>
		<cronSchedules>
			<!-- Sec, min, hour, day, month, day-of-week(MON-FRI) -->
			<cronSchedule name="every 5 seconds" cron="0/5 * * * * ?"/>
		</cronSchedules>
	</operation>
</configuration>