<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="operation" type="UConnector.Config.Configuration.OperationSection, UConnector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	</configSections>
	<operation name="Sandbox" enabled="true" type="UConnector.Samples.Operations.Sandbox.Operations.SandboxOperation, UConnector.Samples">
		<confs>
			<conf name="LocalFilesReceiver">
				<options>
					<option name="Pattern" value="*.txt" />
					<option name="Directory" value="C:\uConnector\In\" />
					<option name="SearchOption" isUsed="false" />
					<option name="DeleteFile" value="true" />
					<option name="Take" value="1" />
					<option name="Skip" isUsed="false" />
				</options>
			</conf>
			<conf name="SenderWriteIntegerToFile">
			</conf>
		</confs>
		<cronSchedules>
			<!-- Sec, min, hour, day, month, day-of-week(MON-FRI) -->
			<cronSchedule name="every 5 second" cron="*/5 * * * * ?"/>
		</cronSchedules>
	</operation>
</configuration>