<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="operation" type="UConnector.Config.Configuration.OperationSection, UConnector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	</configSections>
	<operation name="Sandbox" enabled="false" type="UConnector.Samples.Operations.Sandbox.SandboxOperation, UConnector.Samples">
		<confs>
		</confs>
		<cronSchedules>
			<!-- Sec, min, hour, day, month, day-of-week(MON-FRI) -->
			<cronSchedule name="every minute" cron="30 */1 * * * ?"/>
		</cronSchedules>
	</operation>
</configuration>