<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="operation" type="UConnector.Config.Configuration.OperationSection, UConnector.Framework" />
	</configSections>
	<operation name="WriteListOfProductNamesToFile" enabled="false" type="UConnector.Samples.Operations.Sandbox.OperationWriteListOfProductNamesToFile, UConnector.Samples">
		<confs>
		</confs>
		<cronSchedules>
			<!-- Sec, min, hour, day, month, day-of-week(MON-FRI) -->
			<cronSchedule name="every 2 minutes" cron="0 */2 * * * ?"/>
		</cronSchedules>
	</operation>
</configuration>